html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
@import "_catalog.scss";

.catalog {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    margin-bottom: 0;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 0;
  }
}
